@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');

body {
  background-color: #1c1410;
  color: white;
  font-family: "Google Sans Code", monospace;
  margin: 0;
}

.main {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.weather-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.forecast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.message {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}